/*The body of the page*/
			
			#div-text-articles{
				width: 780px;
				height: 35px;
				margin: 20px auto;
			}
			.main-sec{
				width: 780px;
				min-height: 100%;
				margin: auto;
				border-bottom: 1.7px dashed purple;
				background-color: #E8E8D9;
			}
			h2{
				margin-top: 2px;
				color: #B4B3B3; 
				border-bottom: 1.5px solid black;
			}
			h3 {
				line-height: 150%; 
       	color: #409A3A; 
       	font-family: Abel;
				font-size: 200%;
				font-style: normal;
				font-variant: normal;
				font-weight: 500;
     	}
     	.p-text{
     		margin: auto; 
     		text-indent: 5px; 
     		font-size: 19px;
     		font-family: Abel;
				font-style: normal;
				font-variant: normal;
				font-weight: 400;
				line-height: 20px;
     	}
     	.p-readme{
     		margin-top:20px; 
     		font-size: 22px;
				font-style: normal;
				font-variant: normal;;
     	}

			
			#header-sec{
				width: 100%;
				height: 70px;
			}
			.article-text{
				width: 100%;
				height: 140px;
				margin-top: 0px;
			}