<html>
<head>
	<title>Portfolio</title>
	<style type="text/css">
		body{background-color: #f2f2f2;
		}
		a:-webkit-any-link {
    text-decoration: none;
    cursor: auto;
		}
		h1{ 
			text-align: center;
			font-family: Arial, Helvetica, sans-serif;
			padding-top: 15px;
		}
		div{width: 70%; height: 100%; margin:2em auto;
		}
		p{font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #595959; font-weight: 500;
		}
	</style>
</head>
<body>
	<h1><%= link_to("<<< go back", root_path) %></h1>
	<div>
		<p>&nbsp&nbsp&nbsp As a free lance web developer, I have worked on certain amount of web applications and other projects, that relies on computer technologies, to collect and present geo-coded data on a web platform.</p>
		<p>&nbsp&nbsp&nbspThis current website is built as a 'ruby on rails' web-frame application. It is an application that is design to have more than one purpose. one is being a blog that is shares some knowledge about major web developement related contents and articles; another purpose is that it is used as a platform to showcase some of the work I have accomplished.<br>
		You can check out the code on github at <a href="https://github.com/Khaledsf/bouchamakhaled">https://github.com/Khaledsf/bouchamakhaled</a></p>
		<p>&nbsp&nbsp&nbsp The Restaurant application is designed to work on the terminal (lenux based systems) only. The program allows the user to interract locally with the machine with the purpose of storing data in a text file and retrieve it as needed. It is simply database-like interaction without the need the burden of a Database server installation and technicality. <br>
			The surce code is available here <a href="https://github.com/Khaledsf/restaurant-application">https://github.com/Khaledsf/restaurant-application</a></p>
		<p>&nbsp&nbsp&nbsp Picmotive is another web application buit with ruby on rails; this aplication is a personal photo archive that stores pictures in a tumblr-like way.&nbsp The application access the local machine, then the user browses through the folder that contain the picture and selects the picture desired to be uploaded. Those pictures will stored in the user's personal account that is access by loging the user's credentials. <br>
		The surce code is available here <a href="https://github.com/Khaledsf/picmotive">https://github.com/Khaledsf/picmotive</a></p>
		<p>&nbsp&nbsp&nbsp Geographic Information System represents a major and tool to digitally implement geo-coded data and present a visual representation with a high precision. It gives mapped areas a more concise and enhanced information that is in relation to it via the data collected, processed, interpreted, and implemented on a map in one or multiple layers. ESRI, a leading company in the field of Geographic Information Systems, via its ArcGis software product allows the implementation of any compatible data collected to create interactive and very inhanced multi-layered maps. <br>
			Throughout my recent college cursus, I worked with trusted data to study different environmental issues and natural phenomena that impacted the the bay area. encountered by local governments.</p>
	
	</div>

</body>
</html>