<html>
<head>
	<title>resume</title>
	<style type="text/css">
		#wrapper{
			width: 80%; margin: auto; background-color: #f2f2f2;
			}
		#spacer{
			margin-left: 15px;
			}
		a:-webkit-any-link {
    text-decoration: none;
    cursor: auto;
			}
		h1{text-align: center;
			font-family: Arial, Helvetica, sans-serif;
			padding-top: 15px;
			}
		h2{text-align: center;
			font-family: Arial, Helvetica, sans-serif;
			}
		h3{font-family: Arial, Helvetica, sans-serif;
			}
		h4{text-align: center;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 22px;
			}
		li{margin-left: 25px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			color: #595959;
			font-weight: 500;
			}
		b{font-family: Arial, Helvetica, sans-serif;
			}	
	</style>
</head>
<body>
	<h4><%= link_to("<<< go back to main page", root_path) %></h4>
	<h4><%= link_to 'download pdf version', '/resume.pdf'%></h4>
	<div id="wrapper">
		<div id="spacer">
			<h1>Khaled Bouchama</h1>
			<h2>Home: (415) 424-0239 | kbouchama@gmail.com</h2>
			<h3>Technology Summary</h3>
			<li><b>Programming/Languages:</b> Ruby; Javascript;  C++;  MySQL; SQLITE3;  HTML5; CSS3</li>
			<li><b>Frame Works:</b> Ruby on Rails, Angularjs</li>
			<li><b>Databases:</b> Mysql, Postgres, Sqlite3,  SQL Server, Windows Server 2008</li>
			<li><b>Office Tools:</b> MS Word, Excel, PowerPoint, Outlook</li>
			<li><b>Operating Systems:</b> Windows 7/Linux Ubuntu/Linux Mint/ Apache2, Mac OS X</li>
			<h3>Professional Skills</h3>
			<li><b>Languages:</b> English, Arabic, French (Fluent)</li>
			<h3>Service</h3>
			<li>Sole Proprietor</li>
			<li>Computer Programmer Intern, 2010 to 2011</li>
			<li>Selected for nine-month internship out of more than 150 applicants.</li>


			<h3>Marketing Internship</h3>
			 
			<li>Participated in a national energy savings plan campaign for the national gas utility for the country of Algeria.&nbsp&nbspRecent honors graduate of ABC University’s BS in IT program whose academic credentials are reinforced by hands-on programming experience gained during internship with ABC Company.
			Consistently commended by professors and internship supervisor for programming abilities; strong grasp of technologies (e.g., Java, VB, C, C++, SharePoint, HTML and .Net); and attention to detail.
			Known as a self-starter, team player and multitasker; strives to consistently exceed expectations.</li>
			<h3>Education</h3>
			<b>GENERAL ASSEMBLY</b>&nbsp&nbsp&nbsp<b>2014</b>
			<li>Full Stack Web Development</li>
			<b>CITY COLLEGE OF SAN FRANCISCO</b>&nbsp&nbsp&nbsp<b>2012</b>		
			<li>Certificate of Fundamentals of Computer Networking</li>
			<b>INSTITUT INTERNATIONAL DE MANAGEMENT</b>
			<li>Superior Technical Degree in Marketing</li>
		</div>
	</div>	
</body>
</html>