<!DOCTYPE html>
<html>
	<head>
		<title>Admin</title>
		<style type="text/css">
			body{
			background-color: 	#F5F5F5;
			}
			a:-webkit-any-link {
    	text-decoration: none;
    	cursor: auto;
			}
			#greet-admin{
				width: 80%;
				margin: 150px;
			}
			h1,h2,h3{
				font-family: Arial, Helvetica, sans-serif;
				text-align: center;
				text-decoration: none;
			}
			table{
				border-collapse: collapse; width: 100%;
				border: 1px solid;
			}
			/*tr{
				border: solid 1px;
				font-family: Arial, Helvetica, sans-serif;
			}*/
			/*th{
				text-align: center;
				font-family: Arial, Helvetica, sans-serif;
				border: solid 1px;
			}*/
			td{
				text-align: center;
				font-family: Arial, Helvetica, sans-serif;
				border: solid 1px;
				width: 10%;
			}
			#admin-login{
				width: 30%;
				margin-left: 35%;
				/*background-color: red;*/
				border: none;
			}
			.login-td{
				border: none;
				height: 50%;
			}
			#login-btn{
				margin-top: 10px;
			}

		</style>
	</head>
	<body>
		
		<%= yield %>
		
	</body>

</html>